<hlm-table class="flex items-center gap-5">
  <hlm-dialog class="mt-5">
    <button id="edit-profile" class="bg-green-600 hover:bg-green-700" brnDialogTrigger hlmBtn>agregar venta</button>
    <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
      <hlm-dialog-header>
        <h3 hlmDialogTitle>Agregar venta</h3>
        <p hlmDialogDescription>Asegurate de guardar tus cambios</p>
      </hlm-dialog-header>
      <form action="" [formGroup]="addForm" (ngSubmit)="onAddVenta()">
        <label for="compania" hlmLabel>Compania
          <input hlmInput type="text" id="compania" formControlName="compania">
          @if (hasErrorsAdd('compania','required')) {
          <p>Nombre compania requerido</p>
          }
        </label>
        <label for="producto" hlmLabel>Producto
          <input hlmInput type="text" id="producto" formControlName="producto">
          @if (hasErrorsAdd('producto','required')) {
          <p>Nombre producto requerido</p>
          }
        </label>
        <label for="compania" hlmLabel>Cantidad
          <input hlmInput type="number" id="cantidad" formControlName="cantidad">
          @if (hasErrorsAdd('cantidad','required')) {
          <p>Cantidad requerido</p>
          }
        </label>
        <label for="precio" hlmLabel>Precio
          <input hlmInput type="number" id="precio" formControlName="precio">
          @if (hasErrorsAdd('precio','required')) {
          <p>Precio requerido</p>
          }
        </label>
        <hlm-toaster class="bg-green-600" />
        <hlm-dialog-footer class="flex gap-2 mt-4">
          <button hlmBtn type="submit" [disabled]="addForm.invalid">guardar</button>
          <button hlmBtn type="submit" class="bg-green-500 hover:bg-green-600" (click)="ctx.close()">cancelar</button>
        </hlm-dialog-footer>
      </form>
    </hlm-dialog-content>
  </hlm-dialog> <hlm-trow>
    <hlm-th class="w-52">Compania</hlm-th>
    <hlm-th class="w-60">Producto</hlm-th>
    <hlm-th class="flex-1">Cantidad</hlm-th>
    <hlm-th class="justify-end w-40">Precio</hlm-th>
    <hlm-th class="justify-end w-40"></hlm-th>
    <hlm-th class="justify-end w-40"></hlm-th>
  </hlm-trow>
  @if (listaVentas.length === 0) {
  <hlm-spinner />
  }
  @for (venta of listaVentas; track venta.id) {
  <hlm-trow>
    <hlm-td truncate class="font-medium w-52">{{ venta.compania }}</hlm-td>
    <hlm-td class="w-60">{{venta.producto}}</hlm-td>
    <hlm-td class="flex-1">{{venta.cantidad}}</hlm-td>
    <hlm-td class="justify-end w-40">{{venta.precio}}</hlm-td>
    <!-- EDITAR VENTA -->
    <hlm-td class="justify-end w-40">
      <hlm-dialog>
        <button id="edit-profile" class="bg-orange-500 hover:bg-orange-600" (click)="onEditVenta(venta)"
          brnDialogTrigger hlmBtn>editar</button>
        <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
          <hlm-dialog-header>
            <h3 hlmDialogTitle>Editar venta</h3>
            <p hlmDialogDescription>Asegurate de guardar tus cambios</p>
          </hlm-dialog-header>
          <form action="" [formGroup]="editForm" (ngSubmit)="onUpdateVenta()">
            <label for="compania" hlmLabel>Compania
              <input hlmInput type="text" id="compania" formControlName="compania">
              @if (hasErrorsEdit('compania','required')) {
              <p>Nombre compania requerido</p>
              }
            </label>
            <label for="producto" hlmLabel>Producto
              <input hlmInput type="text" id="producto" formControlName="producto">
              @if (hasErrorsEdit('producto','required')) {
              <p>Nombre precio requerido</p>
              }
            </label>
            <label for="compania" hlmLabel>Cantidad
              <input hlmInput type="number" id="cantidad" formControlName="cantidad">
              @if (hasErrorsEdit('cantidad','required')) {
              <p>Cantidad requerido</p>
              }
            </label>
            <label for="precio" hlmLabel>Precio
              <input hlmInput type="number" id="precio" formControlName="precio">
              @if (hasErrorsEdit('precio','required')) {
              <p>Precio requerido</p>
              }
            </label>
            <hlm-toaster class="bg-green-600 text-green-600" />
            <hlm-dialog-footer>
              <button hlmBtn type="submit" [disabled]="editForm.invalid">guardar</button>
              <button hlmBtn type="submit" class="bg-green-500 hover:bg-green-600"
                (click)="ctx.close()">cancelar</button>
            </hlm-dialog-footer>
          </form>
        </hlm-dialog-content>
      </hlm-dialog>
    </hlm-td>
    <!-- ELIMINAR VENTA -->
    <hlm-td class="justify-end w-40">
      <hlm-dialog>
        <button id="edit-profile" brnDialogTrigger hlmBtn>eliminar</button>
        <hlm-dialog-content class="sm:max-w-[425px]" *brnDialogContent="let ctx">
          <hlm-dialog-header>
            <h3 hlmDialogTitle>Eliminar venta</h3>
            <p hlmDialogDescription>¿Esta seguro que quiere eliminar el producto {{venta.producto}}</p>
          </hlm-dialog-header>
          <hlm-toaster class="bg-green-600" />
          <hlm-dialog-footer class="flex gap-2 mt-4">
            <button hlmBtn type="submit" (click)="onDeleteVenta(venta.id)">Si</button>
            <button hlmBtn type="submit" class="bg-green-500 hover:bg-green-600" (click)="ctx.close()">No</button>
          </hlm-dialog-footer>
        </hlm-dialog-content>
      </hlm-dialog>
    </hlm-td>
  </hlm-trow>
  }
</hlm-table>
<!-- <router-outlet /> -->